.cButtonDesign {
    height: 3em;
    width: 13em;
    margin: 1em;

    border-radius: 0.5em;

    background-color: black;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    user-select: none;
}

.cButtonDesign:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(63, 62, 62);
}