.loginDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: darkolivegreen;
    user-select: none;
}

.buttonLogin {
    height: 2.7em;
    width: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1em;
    background-color: black;
    color: white;
    border: 0;
}

.buttonLogin:focus {
    outline: none;
    border: none;
}

.buttonLogin:hover {
    background-color: rgb(94, 92, 92);
    transition: 0.3s;
}

.textRegister {
    display: flex;
    flex-direction: row;
    color: black;
}

.buttonRegister {
    height: 2em;
    width: 5em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    margin-top: -0.3em;
    border: 0;
    color: rgb(37, 37, 248);
    text-decoration: underline;
}

.buttonRegister:focus {
    outline: none;
    border: none;
}