.loginDesign {
    height: 88vh;
    width: 100vw;

    background-color: darkolivegreen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonLogin {
    height: 2.7em;
    width: 10em;

    margin: 1em; 

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
}

.buttonLogin:focus {
    outline: none;
    border: none;
}

.buttonLogin:hover {
    background-color: rgb(94, 92, 92);
}

.textRegister {
    display: flex;
    flex-direction: row;
}

.buttonRegister {
    height: 2em;
    width: 5em;
    
    margin-top: -0.3em;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    border: 0;
    color: blue;
    text-decoration: underline;
}

.buttonRegister:focus {
    outline: none;
    border: none;
}