.cInputDesign {
    height: 3em;
    width: 15em;

    border: 0.2em solid black;
    border-radius: 0.5em;
    margin: 1em;

    display: flex;
    flex-direction: column;
    color: black;
    background-color:white
}

.inputDesignError {
    border: 0.2em solid red;
}