.registerDesign {
    height: 88vh;
    width: 100vw;

    background-color: darkolivegreen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.error {
    height: 1em;
    color: darkred;
}

.successfully {
    height: 1em;
    color: black;
    font-weight: bold;
}
