.profileDesign {
    height: 88vh;
    width: 100vw;

    background-color: darkolivegreen;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dataProfile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
