.profileDesign {
    height: 88vh;
    width: 100vw;

    background-color: darkolivegreen;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dataProfile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


.card {
    height: 6em;
    width: 15em;

    background-color: white;
    margin: 1em;

    border-radius: 0.5em;

}