.postDetailDesign {
    height: 88vh;
    width: 100vw;

    background-color: darkolivegreen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.cardDetail {
    height: 8em;
    width: 20em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.5em;
    background-color: white;
}