.homeDesign {
    height: 88vh;
    width: 100vw;

    background-color: darkolivegreen;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.positionPostCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}