.postDesign {
    height: 88vh;
    width: 100vw;

    background-color: darkolivegreen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.buttonCreatePost {
    height: 3em;
    width: 10em;

    border: 0;
}

.buttonCreatePost:focus {
    outline: none;
    border: none;
}

.buttonCreatePost:hover{
    background-color: rgb(85, 84, 84);
}