.headerDesign {
    height: 12vh;
    width: 100vw;
    background-color: rgb(92, 92, 92);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    user-select: none;
}

.logOutDesign {
    color: white;
    font-weight: bold;

    margin: 1em;
    transition: 0.3s;
}

.logOutDesign:hover {

    transition: 0.3s;
    color: black;
    cursor: pointer;
}

.positionNavBar {
    display: flex;
    flex-direction: row;
}