.admin {
    height: 88vh;
    width: 100vw;

    background-color: darkolivegreen;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.cardPosition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardUser {
    height: 7em;
    width: 17em;

    background-color: white;
    margin: 1em;
    border-radius: 0.5em;
}

